// For Drag And Drop

// for pointer on hover

#draggable-cards{
  .card{
    cursor: grab;
  }
}

#basic-list-group,#multiple-list-group-a,#multiple-list-group-b,#multiple-list-group-c{
  .list-group-item{
    cursor: grab;
  }
}

#clone-lists{
  .chip{
    cursor: grab;
  }
}

// For Multi List

#multiple-list-group-a,#multiple-list-group-b,#multiple-list-group-c{
  min-height: 5.714rem;
}


// For Handle
#dd-with-handle{
  .list-group{
    min-height: 5.714rem;
    .handle{
      padding: 0 5px;
      margin-right: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: move;
      font-size: 1.2rem;
    }
  }
}

