@media screen and (max-width: 1700px){
    .h_width{
        width: 1500px;
    }
    .info_law_university{
        flex: 0 0 31.2%;
        max-width: 31.2%;
    }
    #actual_news_slider .description{
        width: 40%;
    }
    .description_in{
        width: 75%;
    }
    .share_list{
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .share_list li{
        margin: 0 15px 5px 0;
    }
    #actual_news_slider .owl-prev, #actual_news_slider .owl-next{
        left: 5%;
    }
    #actual_news_slider .owl-next{
        left: auto;
        right: 88%;
    }
    #actual_news_slider .owl-dots{
        left: 5%;
    }
    .footer .share_list, .block_ninth .footer_share_list{
        transform: translateX(0);
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 47.9%;
    }
    .page_2_right .social_stat li:first-child{
        width: 100%;
    }
    .page_2_right .social_stat li{
        width: 50%;
        margin-bottom: 15px;
    }
    .youtube_video_list li{
        margin: 10px 18px 10px 0;
    }
    .left_side_b .news_in_main{
        margin: 0 17px 30px 0 !important;
    }
    .left_side_b .news_in_main:nth-child(2n + 0) {
        margin: 0 0 30px 0 !important;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 48.8%;
    }
    .video_desc{
        left: 7.7%;
        width: 600px;
    }
    .welcome_text i{
        padding-right: 75px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 23.45%;
        margin: 0 25px 30px 0 !important;
    }
    .left_side_b.left_side_b_rek .news_in_main:nth-child(4n + 0){
        margin: 0 0 30px 0 !important;
    }
}
@media screen and (max-width: 1520px){
    a.logo{
        width: 270px;
        height: 135px;
        text-transform: none;
        padding: 15px 15px 15px 15px;
    }
    a.logo img{
        margin-right: 15px;
    }
    .h_width{
        width: 1360px;
    }
    .title{
        display: flex;
        align-items: center;
        min-height: 100px;
    }
    .info_law_university{
        flex: 0 0 31%;
        max-width: 31%;
    }
    .block_fifth .news_box{
        width: 48.3%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 47.6%;
    }
    .recent_articles li{
        margin: 5px 0;
    }
    .recent_articles li .rec_art_tex{
        line-height: 1.5;
    }
    .anons_list li{
        padding: 17px 0;
    }
    .page_2_right>.mini_title{
        width: 85%;
    }
    .page_2_right .anons_list{
        width: 85%;
    }
    .youtube_video_list li{
        margin: 10px 15px 10px 0;
    }
    .left_side_b .news_in_main{
        margin: 0 25px 30px 0 !important;
    }
    .video_desc{
        padding: 25px 35px;
    }
    .rek_name{
        padding: 10px 15px 25px 25px;
    }
    .rek_name i{
        padding-right: 25px;
    }
    .rek_img{
        height: 370px;
    }
    .video_desc{
        left: 7.5%;
        width: 500px;
    }
    .welcome_text i{
        padding-right: 75px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 23.3%;
    }
    .checkbox{
        margin: 10px 0 0 20px;
    }
}
@media screen and (max-width: 1440px){
    a.logo{
        height: 125px;
    }
    #actual_news_slider .slider_img{
        height: 500px;
    }
    #actual_news_slider .owl-prev, #actual_news_slider .owl-next{
        top: 90%;
    }
    #actual_news_slider .owl-dots{
        bottom: 25%;
    }
    /**********************************/
    .social_stat{
        width: 85%;
    }
    .social_stat li{
        width: 24.3%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 47.5%;
    }
    .youtube_video_list li{
        width: 45.8%;
    }
    .news_type_box{
        display: block;
        margin: 0 0 12px 0;
    }
    .news_in_main_img{
        height: 450px;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 180px;
    }
    .anons_list li{
        padding: 14px 0;
    }
    .page_2_left .mini_title_news_in{
        margin: 0 0 15px 0;
    }
    .rek_name{
        padding: 10px 15px 25px 0;
    }
    .rek_img{
        height: 350px;
    }
    .rek_name i{
        padding-right: 0;
    }
    .rec_video_box{
        height: 550px;
    }
    .rec_video_box a{
        height: 550px;
    }
    .video_desc{
        left: 5%;
    }
}
@media screen and (max-width: 1380px){
    .h_width{
        width: 1280px;
    }
    .info_law_university{
        flex: 0 0 30.8%;
        max-width: 30.8%;
    }
    .info_law_img{
        height: 147px;
    }
    .video_box a{
        height: 360px;
    }
    .info_law_text p{
        padding: 0 10px;
    }
    .footer_menu li{
        width: 30.8%;
    }
    .recent_articles li{
        padding: 2px 0 2px 115px;
    }
    .social_stat{
        width: 100%;
    }
    .page_2_right .anons_list{
        width: 100%;
    }
    .bg_recent_articles{
        width: 100%;
    }
    .youtube_box{
        width: 100%;
    }
    .rec_video_box{
        height: 500px;
    }
    .rec_video_box a{
        height: 500px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 23.15%;
    }
}
@media screen and (max-width: 1300px){
    .h_width{
        width: 1180px;
    }
    .info_law_university{
        margin: 0 9px 20px 9px;
    }
    .block_fifth .news_box{
        margin: 0 0 50px 18px;
    }
    .block_fifth .news_box:nth-of-type(1){
        height: 400% !important;
        margin: 0 5px 50px 0;
    }
    .block_fifth .news_box:nth-of-type(1) .news_img{
        width: 100%;
        height: 400px !important;
    }
    .block_fifth .news_box{
        margin: 0 0 25px 18px;
    }
    .news_img{
        height: 188px;
    }
    .block_fifth .news_box .news_text_box{
        width: 62%;
    }
    #actual_news_slider .slider_img{
        height: 450px;
    }
    #actual_news_slider .owl-dots{
        bottom: 20%;
    }
    .simple_info li{
        padding: 50px 15px;
    }
    .footer_menu li{
        width: 30.5%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 47.3%;
    }
    .anons_list li{
        padding: 2px 0;
    }
    .anons_list li a{
        margin-left: 65px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 23%;
    }
}
@media screen and (max-width: 1199px){
    a.logo{
        width: 250px;
    }
    .h_width{
        width: auto;
    }
    .info_law_text{
        padding: 10px 5px;
    }
    .news_text_box{
        width: 96%;
    }
    .news_box{
        padding: 0 10px;
    }
    .block_fifth .news_box{
        margin: 0 0 25px 0;
    }
    .footer_menu li {
        width: 30.3%;
    }
    #actual_news_slider .owl-next{
        left: auto;
        right: 85%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 47%;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 150px;
    }
    .anons_list li a{
        text-transform: none;
    }
    .round_img{
        width: 80px;
        height: 80px;
    }
    .recent_articles li{
        padding: 2px 0 2px 95px;
    }
    .recent_articles li .rec_art_tex{
        -webkit-line-clamp: 3;
    }
    .rek_img{
        height: 300px;
    }
    .video_desc{
        position: relative;
        width: 100%;
        left: 0;
        min-height: auto;
    }
    .rec_video_box{
        height: 100% !important;
    }
    .video_desc p:nth-child(2){
        -webkit-line-clamp: none;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 23%;
        margin: 0 23px 30px 0 !important;
    }
}
@media screen and (max-width: 1100px){
    .info_law_university{
        flex: 0 0 30.5%;
        max-width: 30.5%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        margin: 0 22px 30px 0;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 23%;
        margin: 0 20px 30px 0 !important;
    }
}
@media screen and (max-width: 991px){
    .block_zero{
        padding: 100px 0 7px 0;
    }
    a.logo{
        width: 100%;
        height: 90px;
    }
    a.logo span i{
        display: block;
    }
    .menu_list li{
        width: 28%;
        padding: 0 10px;
        margin: 5px 0;
        text-align: center;
    }
    .block_zero .col-lg-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block_first .col-lg-4{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
    .white_bg_menu_left, .white_bg_menu_right{
        margin: 0 0 10px 0;
    }
    .block_fourth .news_img{
        height: 240px;
    }
    .block_fifth .news_box{
        width: 100%;
    }
    .video_box a{
        height: 500px;
    }
    .simple_info{
        display: block;
    }
    .simple_info li{
        width: 50%;
        float: left;
    }
    .simple_info li:nth-of-type(3){
        background-color: #fff;
    }
    .simple_info li:nth-of-type(1), .simple_info li:nth-of-type(4) {
        background-color: #F8F8F8;
    }
    #actual_news_slider .description{
        width: 52%;
    }
    #actual_news_slider .owl-next{
        left: auto;
        right: 80%;
    }
    .news_in_main_img{
        height: 565px;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 221px;
    }
    .page_2_right .social_stat{
        width: 48%;
        float: left;
    }
    .page_2_right>.mini_title{
        width: 48%;
        display: inline-block;
        margin: 20px 0 0 30px;
    }
    .page_2_right .anons_list{
        float: left;
        width: 48%;
        margin: 20px 0 0 30px;
    }
    .page_2_right .bg_recent_articles{
        float: left;
        width: 48%;
    }
    .youtube_box{
        width: 48%;
        display: inline-block;
        vertical-align: top;
        margin: 25px 0 25px 30px;
    }
    .page_2_left .news_in_main_img{
        height: 400px;
    }
    .rec_video_box a{
        height: 450px;
    }
    .video_desc{
        padding: 25px 25px 10px 25px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 48.5%;
        margin: 0 20px 30px 0 !important;
    }
    .left_side_b.left_side_b_rek .news_in_main:nth-child(2n + 0){
        margin: 0 0 30px 0 !important;
    }
}
@media screen and (max-width: 900px){
    .news_in_main_img{
        height: 450px;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 200px;
    }
    .page_2_right>.mini_title{
        margin: 20px 0 0 25px;
    }
    .page_2_right .anons_list{
        margin: 20px 0 0 25px;
    }
    .youtube_box{
        margin: 25px 0 25px 25px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 48.3%;
        margin: 0 19px 30px 0 !important;
    }
    .left_side_b.left_side_b_rek .news_in_main:nth-child(2n + 0){
        margin: 0 0 30px 0 !important;
    }
}
@media screen and (max-width: 767px){
    .menu_list li{
        width: 33%;
    }
    .block_fourth .news_img{
        height: 200px;
    }
    .video_box a{
        height: 400px;
    }
    .info_law_university{
        flex: 0 0 47%;
        max-width: 47%;
    }
    .info_law_img{
        height: 180px;
    }
    .footer_menu li{
        width: 29%;
    }
    #links_slider .owl-prev, #links_slider .owl-next{
        left: -30px;
    }
    #links_slider .owl-next{
        left: auto;
        right: -30px;
    }
    .news_in_main_img{
        height: 400px;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 48.1%;
        margin: 0 20px 30px 0;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 180px;
    }
    .rek_img{
        height: 500px;
    }
    .simple_box{
        padding: 30px 0 50px 0;
    }
    .video_desc{
        padding: 25px 15px 0 15px;
    }
    .welcome_text i{
        padding-right: 0;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        margin: 0 18px 30px 0 !important;
    }
}
@media screen and (max-width: 700px){
    .video_box a{
        height: 350px;
    }
    .info_law_university{
        flex: 0 0 46.5%;
        max-width: 46.5%;
    }
    #actual_news_slider .description{
        position: relative;
        width: 100%;
        height: 100%;
        top: auto;
        z-index: 9999999;
        bottom: 0;
        padding: 0 0 30px 0;
    }
    #actual_news_slider .owl-prev, #actual_news_slider .owl-next{
        top: 40%;
    }
    #actual_news_slider .owl-dots{
        top: 40%;
        bottom: auto;
    }
    #actual_news_slider.owl-carousel .owl-stage-outer{
        position: relative;
        overflow: visible !important;
    }
    #actual_news_slider .slider_img{
        height: 300px;
    }
    .description_in{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0, 0);
        text-align: center;
    }
    #actual_news_slider .owl-dots{
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    #actual_news_slider .owl-next{
        left: auto;
        right: 5%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 47.9%;
        margin: 0 20px 30px 0;
    }
    .news_in_main_img{
        height: 350px;
    }
    .page_2_right>.mini_title{
        margin: 20px 0 0 22px;
    }
    .page_2_right .anons_list{
        margin: 20px 0 0 22px;
    }
    .youtube_box{
        margin: 25px 0 25px 22px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        margin: 0 16px 30px 0 !important;
    }
}
@media screen and (max-width: 650px){
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 48.2%;
        margin: 0 15px 30px 0;
    }
    .page_2_right .social_stat{
        width: 100%;
    }
    .page_2_right>.mini_title{
        width: 100%;
        margin: 20px 0 0 0;
    }
    .page_2_right .anons_list{
        width: 100%;
        margin: 20px 0 0 0;
    }
    .page_2_right .anons_list li{
        padding: 10px 0;
    }
    .page_2_right .bg_recent_articles{
        width: 100%;
    }
    .page_2_right .bg_recent_articles .recent_articles li{
        margin: 15px 0;
    }
    .youtube_box{
        width: 100%;
        margin: 25px 0 25px 0;
    }
    .youtube_video_list li{
        width: 48.1%;
        height: 150px;
    }
    .rec_video_box a{
        height: 400px;
    }
    .rek_img{
        height: 420px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        margin: 0 15px 30px 0 !important;
    }
}
@media screen and (max-width: 600px){
    .info_law_university{
        flex: 0 0 46.2%;
        max-width: 46.2%;
    }
    .block_fifth .news_box .news_text_box{
        position: relative;
        top: auto;
        right: auto;
        transform: translateY(0);
    }
    .block_fifth .news_box:nth-of-type(1) .news_text_box{
        width: 100%;
        margin: 0;
    }
    .block_fifth .news_box:nth-of-type(1) .news_img{
        height: 260px !important;
    }
    .block_fifth .news_box .news_img, .block_fifth .news_box .news_text_box{
        width: 100%;
    }
    .news_img{
        height: 260px;
    }
    .block_fifth .news_box .news_text_box p{
        -webkit-line-clamp: inherit;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main{
        width: 48.4%;
        margin: 0 9px 30px 0;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 150px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 48.2%;
        margin: 0 14px 30px 0 !important;
    }
}
@media screen and (max-width: 575px){
    .news_text_box{
        width: 100%;
        background-color: #fff;
        padding: 15px 15px;
        margin:0;
    }
    .news_in_main_img{
        height: 300px;
    }
    .social_stat li{
        width: 50%;
    }
    .rek_img{
        height: 350px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 48%;
    }
}
@media screen and (max-width: 500px){
    .video_box a{
        height: 300px;
    }
    .info_law_university{
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 20px 0;
    }
    .info_law_text a{
        -webkit-line-clamp: inherit;
    }
    .info_law_text p{
        -webkit-line-clamp: inherit;
    }
    .footer_menu li{
        width: 44%;
    }
    .right_side_b .news_in_main, .left_side_b .news_in_main {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 221px;
    }
    .news_in_title{
        -webkit-line-clamp: inherit;
    }
    .rec_video_box a{
        height: 300px;
    }
    .rek_img{
        height: 320px;
    }
    .left_side_b.left_side_b_rek .news_in_main{
        width: 100%;
        margin: 0 0 30px 0 !important;
    }
}
@media screen and (max-width: 400px){
    .menu_list{
        display: block;
    }
    .menu_list li{
        width: 46%;
        float: left;
        margin-left: auto;
        margin-right: auto;
    }
    .menu_list li:last-child{
        width: 100%;
    }
    .menu_list li>ul{
        margin: 0;
    }
    .menu_list li>ul li:last-child{
        width: 47%;
    }
    .white_bg_menu_left, .white_bg_menu_right{
        display: block;
    }
    .white_bg_menu_left li, .white_bg_menu_right li{
        width: 47%;
        padding: 0 10px;
    }
    .video_box a{
        height: 250px;
    }
    .simple_info li{
        width: 100%;
        float: left;
        padding: 26px 15px;
    }
    .footer_menu li{
        width: 42%;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 200px;
    }
    .rec_video_box a{
        height: 250px;
    }
    .rek_img{
        height: 270px;
    }
}
@media screen and (max-width: 360px){
    .video_box a{
        height: 200px;
    }
    .left_side_b .news_in_main .news_in_main_img, .right_side_b .news_in_main .news_in_main_img{
        height: 180px;
    }
}
