#calendar{
    display: table;
    width: 94%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border: none !important;
    color: #534d45;
    margin: 0 auto;
}
#calendar thead tr:last-child td{
    background-color: #F7F7F7;
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    color: #161616;
    margin-top: 15px;
}
#calendar thead tr:nth-child(1) td{
    padding-bottom: 15px;
    font-family: "Montserrat-Bold";
    font-size: 16px !important;
    color: #000;
}
#calendar thead tr:nth-child(1) td:nth-child(2){
    color: #323232;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
#calendar td{
    border: none;
    padding: 6px 5px;
    font-size: 14px !important;
    font-family: "Montserrat-Regular";
    line-height: 1.3;
    color: #000;
}
#calendar tbody td {
    color: #555555;
}
#calendar tbody td.today{
    color: #006522;
}
#calendar tbody td.active{
    background: #006522;
    color: #fff;
    cursor: pointer;
}
.calendarBox{
    position: relative;
}
.calendarBox .calView{
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url("../img/pixe_white.png");
    color: #fff;
    font-size: smaller;
    padding: 5px;
    z-index: 50;
    width: 100%;
    height: 100%;
    color:#646060;
    font-size:13px;
    overflow: auto;
}
.calendarBox .calView h2{
    font-size:18px;
    font-weight:normal;
    line-height:20px;
    margin: 0 0 6px 0;
}
.calendarBox .calView li{
    list-style: none;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px 0;
}
.calendarBox .calView li:last-child{
    border: none;
}
.calendarBox .calView li a{
    display: block;
}
.calendarBox .calView .closebtn{
    color: #999;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 3px;
    opacity: 2;
    font-size: 25px;
    outline: none;
}
.calendarBox .calView .closebtn:hover{
    color: #00affc;
}