/****************specialView***************/
.blackAndWhite{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    /*-ms-filter: grayscale(100%);*/
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.blackAndWhiteInvert,
.blackAndWhiteInvert img,
.blackAndWhiteInvert embed,
.blackAndWhiteInvert video{
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    /*-ms-filter: grayscale(100%) invert(100%);*/
    -o-filter: grayscale(100%) invert(100%);
    filter: grayscale(100%) invert(100%);
}
.icon_accessibility:hover{
    cursor: pointer;
}
.icon_accessibility span a i{
    font-size: 18px;
}
.specialViewArea{
    padding: 10px 20px 20px 20px;
    width: 265px;
    right: -14px;
    color: #5b5b5b;
    margin-top: 15px;
    font-family: "Roboto-Regular";
}
.specialViewArea:after, .specialViewArea:before{
    bottom: 100%;
    left: 91.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.specialViewArea:after{
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.specialViewArea:before{
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-width: 12px;
    margin-left: -12px;
}
.appearance{
    margin-bottom: 10px;
    clear: both;
    display: table;
    width: 100%;
}
.squareBox{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 27px;
    font-weight: bolder;
    cursor: pointer;
    background: #828282;
    color: #fff;
}
.specialTitle{
    font-size: 18px;
}
.squareAppearances{
    float: left;
    margin-right: 5px;
}
.squareBox.spcNormal{
    background: #096f35;
}
.squareBox.spcWhiteAndBlack{
    background: #828282;
    border-color: #353535;
}
.squareBox.spcDark{
    background: #3e3e3e;
    border-color: #777777;
}
.fontSmaller{
    font-size: 24px;
}
.fontBigger{
    font-size: 26px;
}
.defaultSlider{
    height: 4px !important;
    background: #b7b7b7;
    border: none;
}
.defaultSlider span{
    border-radius: 50%;
    outline: none;
    background: #096f35  !important;
    cursor: pointer !important;
    width: 25px !important;
    height: 25px !important;
    top: -11px !important;
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    -o-box-shadow: 0 0 5px #ccc;
    -ms-border-shadow: 0 0 5px #ccc;
    /*cursor: pointer !important;*/
    margin-bottom: 10px;
}
.sliderZoom{
    margin: 15px 0 20px 0;
}
.sliderText{
    margin-bottom: 20px;
}
.defaultSlider span:focus, .defaultSlider span:hover{
    border-color: #d3d3d3;
}
.defaultSlider .ui-slider-range{
    background: #096f35;
}

/******************speciel_box*****************/

.specialBoxList {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    border: none;
}
html, body{
    position: relative;
    background-color: #fff;
    height: 100%;
}
.wrapper{
    /*background-color: #EEECF9;*/
    position: relative;
    overflow: hidden;
}
.h_width{
    max-width: 1644px;
}
@font-face{
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/********************* block_zero ***********************/

.block_zero{
    position: relative;
    z-index: 1;
    background-color: #006522;
    padding: 10px 0;
}
a.logo{
    width: 340px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX( -50%);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #000000;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px 10px 25px;
    z-index: 9999;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
}
a.logo span i{
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    color: #006522;
}
a.logo img{
    margin-right: 25px;
}
.block_zero .col-lg-4{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0;
}
.block_zero .col-lg-4:nth-child(2){
    flex: 0 0 20%;
    max-width: 20%;
}
.menu_list{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menu_list li ul li{
    display: inline-block;
    margin: 0 5px;
}
.menu_list li{
    margin: 5px 30px;
}
.menu_list li a{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
}
.menu_list li .dropdown-menu{
    right: 0;
    left: auto;
}
.menu_list li .dropdown-menu li a{
    color: #006522;
}

/********************* block_first ***********************/

.block_first{
    position: relative;
    padding: 12px 0;
}
.block_first .col-lg-4{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0;
}
.block_first .col-lg-4:nth-child(2){
    flex: 0 0 20%;
    max-width: 20%;
}
.white_bg_menu_left, .white_bg_menu_right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.white_bg_menu_left li, .white_bg_menu_right li{
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 0 15px;
}
.white_bg_menu_right li{
    width: 48%;
}
.white_bg_menu_left li a, .white_bg_menu_right li a{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    color: #2B2B2B;
    line-height: 1;
}
.white_bg_menu_right li a.dropdown-toggle{
    white-space: normal;
}


/********************* block_second ***********************/

#actual_news_slider{
    z-index: 0 !important;
}
#actual_news_slider .slider_img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 616px;
}
#actual_news_slider .slider_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#actual_news_slider .description{
    background-color: rgba(0, 101, 34, 0.94);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
}
.description_in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.description_in a.d_title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
}
.description_in a.more_info{
    min-width: 160px;
    display: inline-block;
    border: 1px solid #fff;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
}
.description_in a.more_info:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.description_in p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat-Light";
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0 25px 0;
}
#actual_news_slider .owl-prev, #actual_news_slider .owl-next{
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 12.5%;
    transform: translateY(-80%);
    outline: none;
    transition: all 0.3s ease-in-out;
}
#actual_news_slider .owl-next{
    left: auto;
    right: 82%;
}
#actual_news_slider .owl-prev span, #actual_news_slider .owl-next span{
    display: none;
}
#actual_news_slider .owl-prev:before{
    content: '';
    background: url("../img/actual_slider_left.png") no-repeat;
    width: 10px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%);
}
#actual_news_slider .owl-next:before{
    content: '';
    background: url("../img/actual_slider_tight.png") no-repeat;
    width: 10px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%);
}
#actual_news_slider .owl-prev:hover, #actual_news_slider .owl-next:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
#actual_news_slider.owl-carousel .owl-item img{
    width: inherit;
}
#actual_news_slider.owl-carousel .owl-item img{
    display: inherit;
}
.share_list{
    position: relative;
    left: 24.5%;
    display: inline-block;
    margin: 30px 0 15px 0;
}
.share_list li{
    display: inline-block;
    margin: 0 40px 5px 0;
}
.share_list li a{
    display: inline-block;
    margin: 0 5px;
}
.share_list li img{
    display: inline-block;
    margin-right: 15px;
}
#actual_news_slider .owl-dots{
    position: absolute;
    left: 12.5%;
    bottom: 30%;
}
#actual_news_slider .owl-dots .owl-dot{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 2px 3px;
}
#actual_news_slider .owl-dots .owl-dot.active{
    background-color: #fff;
}

/********************* block_third ***********************/

.flex-row.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
}
.flex-row.row > [class*='col-']{
    display: flex;
    flex-direction: column;
}
.flex-row .thumbnail, .flex-row .caption {
    flex: 1 0 auto;
    flex-direction: column;
}
.flex-row .thumbnail {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.flex-row .caption{
    padding: 0;
}
.info_law_university{
    background-color: #006522;
    position: static;
    flex: 0 0 31.4%;
    max-width: 31.4%;
    padding: 0 0 25px 0;
    margin: 0 10px 20px 10px;
}
.info_law_university:hover .info_law_img:before{
    background-color: transparent;
}
.info_law_img{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 191px;
    transition: all 0.3s ease-in-out;
}
.info_law_img:before{
    content: '';
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.info_law_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info_law_text{
    padding: 10px 15px;
    color: #fff;
    line-height: 1.3;
    text-align: center;
}
.info_law_text a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat-Medium";
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: 15px 0 12px 0;
}
.info_law_text p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat-Light";
    font-size: 16px;
    padding: 0 25px;
}
.info_law_university .date{
    display: table;
    margin: 0 25px 0 auto;
    font-family: "Montserrat-Light";
    color: #fff;
}
.video_box{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 406px;
}
.video_box span{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.video_box span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_box span:before{
    content: '';
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.video_box span:after{
    content: '';
    background: url("../img/play_icon.png") no-repeat;
    width: 57px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.video_box:hover span:before, .video_box:hover span:after{
    opacity: 0;
}

/*********************** block_fourth *********************/

.title{
    position: relative;
    display: block;
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    color: #343434;
    text-transform: uppercase;
    border-bottom: 2px solid #cbcbcb;
    padding: 20px 0 20px 70px;
    margin: 20px 0;
}
.title svg{
    fill: #006522;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.news_box:hover .news_img:before{
    background-color: transparent;
}
.news_box:hover a.news_link, .news_box:hover a.news_link span, .news_box:hover a.news_link span i{
    color: #006522;
}
.news_img{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 210px;
}
.news_img:before{
    content: '';
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.news_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news_text_box{
    position: relative;
    z-index: 1;
    display: table;
    width: 90%;
    background-color: #fff;
    padding: 15px 15px;
    margin: -35px auto 0 auto;
}
a.news_link{
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    color: #000;
    line-height: 1.3;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a.news_link span{
    position: relative;
    display: block;
    width: 32px;
    font-family: "Montserrat-Bold";
    font-size: 12px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-right: 26px;
    transition: all 0.3s ease-in-out;
}
a.news_link span:after{
    content: '';
    background-color: #143797;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -12px;
}
a.news_link span i{
    display: block;
    font-style: normal;
    font-size: 24px;
    color: #7e7e7e;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}
.news_text_box p{
    font-family: "Montserrat-Light";
    font-size: 16px;
    color: #000;
    line-height: 1.3;
    margin: 10px 0 20px 0;
}
.date{
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #000;
}
a.all_btn{
    display: table;
    border-bottom: 1px solid #000;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: #000;
    line-height: 1.3;
    margin: 10px 0 0 auto;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a.all_btn:hover{
    border-color: transparent;
}

/************************** block_fifth **************************/

.news_and_publications{
    display: inline-block;
    width: 100%;
}
.block_fifth .news_box{
    position: relative;
    width: 48.5%;
    float: left;
    margin: 0 0 50px 20px;
}
.block_fifth .news_box .news_img{
    width: 48%;
}
.block_fifth .news_box .news_text_box{
    width: 57%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
}
.block_fifth .news_box .news_text_box p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block_fifth .news_box:nth-of-type(1){
    height: 470px !important;
    margin: 0 20px 50px 0;
}
.block_fifth .news_box:nth-of-type(1) .news_img{
    width: 100%;
    height: 470px !important;
}
.block_fifth .news_box:nth-of-type(1) .news_text_box{
    width: 90%;
    position: relative;
    top: auto;
    right: auto;
    transform: translateY(0);
    margin: -45px auto 0 auto;
}
a.read_more{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: #000;
    float: right;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a.read_more:hover{
    color: #006522;
    border-color: #006522;
}

/************************** block_sixth **************************/

.block_sixth{
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}
.block_sixth .title{
    margin: 20px 0 0 0;
}
.simple_info{
    display: flex;
}
.simple_info li{
    position: relative;
    width: 25%;
    text-align: center;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    color: #006522;
    line-height: 1.3;
    padding: 50px 0;
}
.simple_info li:nth-of-type(1), .simple_info li:nth-of-type(3){
    background-color: #F8F8F8;
}
.simple_info li:after{
    content: '';
    background-color: rgba(0, 101, 34, 0.53);
    width: 1px;
    height: 27%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.simple_info li:last-child:after{
    display: none;
}
.simple_info li span.svg_icon{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    z-index: 5;
}
.simple_info li span.svg_icon:before{
    content: '';
    background: url("../img/ellips.png") no-repeat;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 0;
}
.simple_info li span svg{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    fill: #006522;
}
.simple_info li p{
    text-transform: uppercase;
    margin-bottom: 0;
}
.simple_info li .numb_info{
    font-size: 30px;
    color: #006522;
    line-height: 1.1;
}

/************************** block_seventh **************************/

#links_slider{
    width: 94%;
    margin: 0 auto;
}
#links_slider.owl-carousel .owl-item img{
    width: auto;
}
#links_slider li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}
#links_slider .owl-prev, #links_slider .owl-next{
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    outline: none;
    margin-top: -10px;
}
#links_slider .owl-next{
    left: auto;
    right: -35px;
}
#links_slider .owl-prev span, #links_slider .owl-next span{
    display: none;
}
#links_slider .owl-prev:before{
    content: '';
    background: url("../img/slider_left.png") no-repeat;
    width: 15px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}
#links_slider .owl-next:before{
    content: '';
    background: url("../img/slider_right.png") no-repeat;
    width: 15px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}
#links_slider .owl-prev:hover:before, #links_slider .owl-next:hover:before{
    filter: grayscale(0)
}

/************************** block_eighth **************************/

.block_eighth{
    background: url("../img/actual_slider1.jpg") center center  no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 35px 0 30px 0;
}
.block_eighth:before{
    content: '';
    background-color: rgba(0, 101, 34, 0.93);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.footer_logo{
    display: table;
    margin: 0 auto;
    font-family: "Montserrat-Regular";
    color: #fff;
    text-align: center;
}
.footer_logo img{
    display: table;
    margin: 0 auto 15px auto;
}
.footer_logo span i{
    display: block;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.3;
}
.footer .share_list{
    left: auto;
    display: table;
    margin: 25px auto 0 auto;
}
.footer .share_list li{
    display: block;
    color: #fff;
    text-align: center;
    margin: 0 0 10px 0;
}
.footer_menu{
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}
.footer_menu li{
    float: left;
    width: 31%;
    margin: 6px 10px;
}
.footer_menu li a{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #fff;
}
.last_list{
    display: block;
    margin-top: 60px;
}
.last_list li{
    width: 48%;
    display: inline-block;
    color: #fff;
    text-align: center;
}

/************************** block_ninth **************************/

.block_ninth{
    position: relative;
    background-color: #006522;
    border-top: 1px solid #08802D;
    text-align: center;
}
.block_ninth .footer_share_list{
    position: relative;
    left: auto;
    margin: 15px 0 15px 0;
}
.block_ninth .footer_share_list li{
    display: inline-block;
    margin: 0 50px;
    color: #fff;
}
.attention_text{
    margin: 15px 0;
    color: #fff;
}

/******************************************************************/

.news{
    padding: 20px 15px 50px 15px;
}
.bread_crumb .breadcrumb{
    background-color: transparent;
    padding: 7px 15px 7px 0;
}
.bread_crumb .breadcrumb li{
    position: relative;
    margin-right: 10px;
}
.bread_crumb .breadcrumb li a, .bread_crumb .breadcrumb li{
    color: #8E8E8E;
}
/*.bread_crumb .breadcrumb li:last-child{*/
/*    content: '';*/
/*    background: url("../img/breadcrumb.png") no-repeat;*/
/*    width: 5px;*/
/*    height: 8px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 10px;*/
/*}*/
.bread_crumb .breadcrumb-item+.breadcrumb-item::before{
    display: none;
}
.inner_title{
    display: block;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}
.news_type_box{
    display: block;
    margin: 0 0 50px 0;
}
.news_type{
    display: inline-block;
    background-color: #006522;
    border-radius: 5px;
    padding: 7px 17px;
    font-family: "Montserrat-Medium";
    line-height: 1;
    color: #fff !important;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    margin: 5px 3px;
}
.news_type:hover{
    opacity: 0.7;
}
a.news_type:first-child{
    margin: 5px 3px 5px 0;
}
.news_in_main_img{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 565px;
}
.news_in_main_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
span.news_type{
    display: table;
    margin: 5px auto 5px 0;
}
span.news_type:hover{
    opacity: 1;
}
.news_in_title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat-Black";
    font-size: 20px;
    color: #242424 !important;
    line-height: 1.3;
    text-transform: uppercase;
}
.social_stat{
    width: 75%;
    display: table;
    margin: 20px 0 25px auto;
}
.social_stat li{
    display: inline-block;
    width: 24.5%;
    text-align: center;
    line-height: 1.2;
}
.social_stat li:first-child{
    width: 100%;
    text-align: left;
}
.social_stat li p{
    font-family: "Montserrat-Bold";
    font-size: 18px;
    margin: 10px 0 0 0;
    color: #000;
}
.social_stat li i{
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    font-style: normal;
    color: #747474;
}
.news_in_main{
    margin-bottom: 30px;
}
.right_side_b .news_in_main, .left_side_b .news_in_main{
    display: inline-block;
    vertical-align: top;
    width: 48.1%;
    margin: 0 25px 30px 0;
}
.left_side_b .news_in_main:nth-child(2n + 0){
    margin: 0 0 30px 0;
}
.right_side_b .news_in_main:nth-child(2n + 1){
    margin: 0 0 30px 0;
}
.left_side_b .news_in_main .news_in_main_img,
.right_side_b .news_in_main .news_in_main_img{
    height: 221px;
}
.left_side_b .news_in_main .news_in_title,
.right_side_b .news_in_main .news_in_title{
    font-family: "Montserrat-Bold";
    font-size: 16px;
    color: #242424;
    text-transform: inherit;
}
.left_side_b .news_in_main .date,
.right_side_b .news_in_main .date{
    margin: 15px 0 0 auto;
}
.left_side_b .news_in_main:hover .news_in_main_img img,
.right_side_b .news_in_main:hover .news_in_main_img img{
    transform: scale(1.1);
}
.news_in_main .date{
    display: table;
    font-size: 16px;
    color: #949494;
    margin: 30px 0 0 auto;
}
.mini_title{
    position: relative;
    display: block;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    color: #000;
    line-height: 1.3;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}
.mini_title:after{
    content: '';
    background-color: #006522;
    width: 85px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -2px;
}
.anons_list li{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 23px 0;
}
.anons_list li p{
    background-color: #006522;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    color: #fff;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
.anons_list li p span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.anons_list li p span i{
    font-style: normal;
    display: block !important;
}
.anons_list li a{
    display: block;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    color: #242424;
    line-height: 1.5 !important;
    text-transform: uppercase;
    margin-left: 70px;
    padding: 7px 0;
}
.recent_articles li{
    display: inline-table;
    position: relative;
    padding: 7px 0 7px 120px;
    margin: 10px 0;
}
.round_img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.31);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.round_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recent_articles li a{
    display: table;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    color: #000;
    line-height: 1.3;
}
.recent_articles li .rec_art_tex{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    color: #242424;
    line-height: 1.7;
}
a.in_all_news_link{
    display: table;
    border-bottom: 1px solid #262626;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    color: #262626;
    margin: 0 0 0 auto;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
a.in_all_news_link:hover{
    border-bottom-color: transparent;
}
.pagination_b{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}
.pagination_b .page-link{
    border: none;
    border-radius: 50% !important;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    color: #373737;
}
.pagination_b .page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #006522;
    border-color: #006522;
}
.page_2_left .news_in_main{
    width: 31.4%;
    margin: 0 25px 30px 0 !important;
}
.page_2_left .news_in_main:nth-of-type(3){
    margin: 0 0 30px 0 !important;
}

/************************ news_in **********************/

.page_2_left .news_in_main_img{
    height: 500px;
}
.page_2_left_full_text{
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    color: #242424;
    margin: 30px 0;
}
.page_2_left .mini_title_news_in{
    margin: 170px 0 15px 0;
}
.page_2_left .mini_title_news_in:after{
    width: 160px;
}

.page_2_right .social_stat{
    width: 100%;
}
.page_2_right>.mini_title{
    width: 75%;
    display: table;
    margin: 0 auto 15px auto;
}
.page_2_right .anons_list{
    width: 75%;
    display: table;
    margin: 0 auto;
}
.page_2_right .anons_list li{
    border-bottom: 1px solid #d6d6d6;
}
.page_2_right .anons_list li:last-child{
    border-bottom: none;
}
.page_2_right a.in_all_news_link{
    margin: 15px 60px 30px auto;
}
.bg_recent_articles{
    background-color: #f8f8f8;
    width: 85%;
    display: table;
    margin: 25px auto 0 auto;
    padding: 20px 25px;
}
.bg_recent_articles a.in_all_news_link{
    margin: 20px 0 10px auto;
}
.date_view_count{
    margin-bottom: 30px;
}
.date_view_count, .date_view_count .date{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #949494;
}
.date_view_count span{
    margin-right: 25px;
}
.date_view_count .view_count img{
    margin-right: 10px;
}
.left_green_border{
    position: relative;
    padding-left: 30px;
    font-style: italic;
}
.left_green_border:before{
    content: '';
    background-color: #006522;
    width: 5px;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.youtube_box{
    display: table;
    width: 85%;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 20px 25px;
    margin: 25px auto;
}
.y_t_title{
    font-family: "Montserrat-Bold";
    font-size: 18px;
    color: #000;
    line-height: 1.4;
}
.y_t_title img{
    position: relative;
    top: -3px;
    margin-left: 7px;
}
.subscribers{
    display: block;
    position: relative;
    padding: 10px 0 10px 75px;
    margin: 10px 0;
}
.subscribers p{
    font-family: "Montserrat-Bold";
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
}
.subscribers i{
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    font-style: normal;
    color: #7a7a7a;
}
.subs_round{
    background-color: #b6b6b6;
    border-radius: 50%;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.subs_round img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.youtube_video_list li{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 46.6%;
    height: 100px;
    margin: 10px 20px 10px 0;
}
.youtube_video_list li:nth-child(2n + 0){
    margin: 10px 0 10px 0;
}
.youtube_video_list li a,
.youtube_video_list li a span{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.youtube_video_list li a span:after{
    content: '';
    background: url("../img/play_icon_y_t.png") no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.youtube_video_list li:hover a span:after{
    opacity: 0;
}
.youtube_video_list li a span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*************** calendar_events **************/

.simple_box{
    display: block;
    padding: 30px 15px 50px 15px;
}

.page_3_right .social_stat{
    width: 100%;
}
.page_3_right .social_stat li:first-child{
    width: 100%;
}
.page_3_right .social_stat li:first-child .mini_title{
    text-transform: uppercase;
}
.page_3_right .social_stat li{
    width: 50%;
    margin-bottom: 20px;
}
.anons_title{
    display: block;
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.news_box_anons{
    display: block;
    margin: 20px 0;
}
.news_box_anons .news_text_box{
    width: 100%;
    margin: 0;
}
.news_box_anons .news_img:before{
    display: none;
}
.news_box_anons a.news_link{
    line-height: 1.8;
    margin: 10px 0;
}
.news_box_anons a.news_link span i{
    font-family: "Montserrat-Bold" !important;
    color: #006522;
}
.news_box_anons a.news_link span i,
.news_box_anons a.news_link span{
    width: auto;
    font-family: "Montserrat-SemiBold";
    font-size: 28px;
    text-align: center;
    line-height: 1;
}
.news_box_anons a.news_link span{
    padding-bottom: 15px;
}
.news_box_anons a.news_link span:after{
    content: '';
    background-color: #006522;
    width: 100%;
    height: 2px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
}
.location_and_time{
    display: block;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #006522;
    margin: 15px 0 0 0;
}
.location_and_time img{
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.location_and_time i{
    margin-left: 20px;
}
.calendarBox{
    border: 1px solid #E9E9E9;
}
.calendar_title{
    display: block;
    background-color: #F7F7F7;
    padding: 15px 15px;
    font-family: "Montserrat-Medium";
    color: #7A7A7A;
    text-align: center;
    line-height: 1.3;
}

/******************** 404 *******************/

.not_found_page{
    display: table;
    margin: 170px auto 220px auto;
}